{% extends 'base.html' %} {% block header %} {% block title %}{{ project['name']
}}{% endblock %} {% endblock %} {% block content %}
<div class="flex w-full justify-center">
	<a
		class="button"
		href="{{ url_for('dash.edit', id=project['id']) }}"
		>Edit Project Info</a
	>
</div>
<div class="grid grid-cols-1 sm:grid-cols-[300px_1fr] gap-4">
	<div>
		<div class="img-ctn">
			{% if not project['image'] %}
			<div class="bg-gray-700 w-full h-full grid place-items-center">
				<img
					src="{{ url_for('static', filename='logo.svg') }}"
					alt="hookneedle logo because no image available"
				/>
			</div>
			{% else %}
			<img
				src="data:image/png;base64, {{ project['image'] }}"
				alt="image of {{ project['name'] }}"
			/>
			{% endif %}
		</div>

		{% if project['link'] %}
		<a
			class="button ms-0"
			href="{{ project['link'] }}"
			>Link to Pattern</a
		>
		{% endif %}
		<div>
			<h2>Description</h2>
			{% if project['desc_small'] %}
			<p>{{ project['desc_small'] }}</p>
			{% else %}
			<p>n/a</p>
			{% endif %}
		</div>
	</div>
	<div class="grid grid-cols-1 gap-2">
		<div>
			<h2>Craft</h2>
			<div>{{ project['which_craft'] }}</div>
		</div>
		<div>
			{% if project['which_craft'] == 'crochet' %}
			<h2>Hook size</h2>
			{% else %}
			<h2>Needle size</h2>
			{% endif %} {% if project['hook_needle_size'] %}
			<div>{{ project['hook_needle_size'] }}</div>
			{% else %}
			<div>n/a</div>
			{% endif %}
		</div>
		<div>
			<h2>Yarn Weight</h2>
			{% if project['yarn_weight'] %}
			<div>{{ project['yarn_weight'] }}</div>
			{% else %}
			<div>n/a</div>
			{% endif %}
		</div>

		<div>
			<h2>Status</h2>
			{% if project['status'] %}
			<div>{{ project['status'] }}</div>
			{% else %}
			<div>n/a</div>
			{% endif %}
		</div>
		<div>
			<h2>Progress</h2>
			{% if project['progress'] %}
			<progress
				class="progress"
				value="{{ project['progress'] }}"
				max="100"
			></progress>
			{% else %}
			<div>n/a</div>
			{% endif %}
		</div>
		<div>
			<h2>Start Date</h2>
			{% if project['start_date'] %}
			<div>{{ project['start_date']}}</div>
			{% else %}
			<div>n/a</div>
			{% endif %}
		</div>
	</div>

	{% endblock %}
</div>
