{% extends 'base.html' %}
{% block header %}
    {% block title %}
        Edit Profile{%
        endblock %}
    {% endblock %}
    {% block content %}
        <div class="form-ctn">
            <form method="post"
                  class="grid gap-4 max-w-[500px]"
                  enctype="multipart/form-data">
                <div class="field">
                    <label class="label">Username</label>
                    <input class="input"
                           type="text"
                           placeholder="Username"
                           name="username"
                           value="{{ user.username }}" />
                </div>
                <div class="field">
                    <label for="image" class="file-label">Profile Image</label>
                    <input id="image"
                           class="file-input"
                           type="file"
                           name="image"
                           accept="image/png, image/jpeg, image/jpg" />
                </div>
                <div class="field">
                    <label class="label">Bio</label>
                    <textarea class="input" placeholder="Write a short bio for yourself!" name="bio">
{{ profile.bio }}</textarea>
                </div>
                <div class="field">
                    <label for="privacy" class="label">Privacy</label>
                    <div class="select">
                        <select name="privacy" id="privacy">
                            <option value="private">private</option>
                            <option value="friends">friends</option>
                            <option value="public">public</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="button is-link">Submit</button>
                </div>
            </form>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                let fileBits = '{{ profile["image_data"]}}';
                let fileName = '{{ profile["image_filename"]}}';
                const parts = fileBits.split(';base64,');
                const fileType = parts[0].split(':')[1];

                let privacy = "{{ profile['visibility']}}"
                let selection = document.querySelector(`option[value = '${privacy}']`)
                selection.selected = true

                console.log(privacy, selection)

                
                // https://www.geeksforgeeks.org/javascript/how-to-convert-base64-to-file-in-javascript/
                let convertBase64ToBlob = (base64) => {
                    // Decode Base64 string
                    const decodedData = atob(parts[1]);

                    const byteNumbers = new Array(decodedData.length);

                    // Insert all character code into uInt8Array
                    for (let i = 0; i < decodedData.length; ++i) {
                        byteNumbers[i] = decodedData.charCodeAt(i);
                    }

                    // Return BLOB image after conversion
                    const byteArray = new Uint8Array(byteNumbers);
                    return new Blob([byteArray], { type: fileType });
                };

                
                if (fileBits != 'None' && fileBits != '') {
                    blob = convertBase64ToBlob(fileBits);

                    const fileInput = document.querySelector('#image');
    
                    const myFile = new File([blob], fileName, {
                        type: fileType,
                        lastModified: new Date(),
                    });
    
                    const dataTransfer = new DataTransfer();
                    dataTransfer.items.add(myFile);
                    fileInput.files = dataTransfer.files;
                }

            });
        </script>
    {% endblock %}
