<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<meta
			http-equiv="Content-Type"
			content="text/html;charset=UTF-8"
		/>
		<title>{% block title %}{% endblock %} - hookneedle</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/output-style.css') }}"
		/>

		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="inria-sans-regular">
		<header>
			<nav
				class="mx-auto flex flex-col justify-center max-w-7xl items-center p-6 lg:px-8 sm:flex-row sm:justify-between"
				role="navigation"
				aria-label="main navigation"
			>
				<div
					class="flex items-center justify-center sm:justify-start w-fit"
				>
					<a href="/">
						<img
							src="{{ url_for('static', filename='logo.svg') }}"
							alt="hookneedle logo"
							class="h-8 w-auto"
						/>
					</a>
					<div class="-ms-4 text-lg me-4">hookneedle</div>
				</div>
				<div class="flex items-center justify-center gap-2">
					{% if g.user %}
					<span>hello, {{ g.user['username'] }}</span>
					<a
						class="button"
						href="{{ url_for('auth.logout') }}"
					>
						Log out
					</a>
					{% else %}
					<a
						class="button is-primary"
						href="{{ url_for('auth.register') }}"
					>
						<strong>Register</strong>
					</a>
					<a
						class="button"
						href="{{ url_for('auth.login') }}"
					>
						Log in
					</a>
					{% endif %}
				</div>
			</nav>
		</header>
		<main class="mx-auto w-full max-w-6xl flex flex-col gap-8">
			<h1 class="text-center">{% block header %}{% endblock %}</h1>
			<div class="flex justify-center">
				{% for message in get_flashed_messages() %}
				<div class="flash max-w-[800px]">{{ message }}</div>
				{% endfor %}
			</div>
			<section class="flex flex-col gap-10">
				{% block content %}{% endblock %}
			</section>
		</main>
	</body>
</html>
