<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<meta
			http-equiv="Content-Type"
			content="text/html;charset=UTF-8"
		/>
		<title>{% block title %}{% endblock %} - hookneedle</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
		/>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const navbarBurger = document.querySelector('.navbar-burger');

			navbarBurger.addEventListener('click', () => {
				const target = navbarBurger.dataset.target;
				const navMenu = document.querySelector(`#${target}`);

				navbarBurger.classList.toggle('is-active');
				navMenu.classList.toggle('is-active');
			});
		});
	</script>
	<body class="inria-sans-regular">
		<nav
			class="navbar"
			role="navigation"
			aria-label="main navigation"
		>
			<div class="container">
				<div class="navbar-brand">
					<div class="brand-ctn">
						<img
							src="{{ url_for('static', filename='logo.svg') }}"
							alt="hookneedle logo"
						/>
						<a
							class="navbar-item"
							href="/"
							>hookneedle</a
						>
					</div>
					<a
						class="navbar-burger"
						role="button"
						data-target="navMenu"
						aria-label="menu"
						aria-expanded="false"
					>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>
				<div
					class="navbar-menu"
					id="navMenu"
				>
					<div class="navbar-end">
						<div class="navbar-item">
							<div class="buttons">
								{% if g.user %}
								<span>{{ g.user['username'] }}</span>
								<a
									class="button is-dark"
									href="{{ url_for('auth.logout') }}"
								>
									Log out
								</a>
								{% else %}
								<a
									class="button is-dark"
									href="{{ url_for('auth.register') }}"
								>
									<strong>Register</strong>
								</a>
								<a
									class="button is-primary"
									href="{{ url_for('auth.login') }}"
								>
									Log in
								</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<section class="container">
			<header class="header">{% block header %}{% endblock %}</header>
			{% for message in get_flashed_messages() %}
			<div class="flash">{{ message }}</div>
			{% endfor %} {% block content %}{% endblock %}
		</section>
	</body>
</html>
